{% extends 'base.html.twig' %}

{% block title %}{{ research_subject.title }}{% endblock %}

{% block body %}
    <article class="research-subject">
        <h1>{{ research_subject.title }}</h1>

        <div class="research-content">
            {{ research_subject.content|raw }}
        </div>
    </article>

    <a href="{{ path('app_public_research_index') }}">Retour aux recherches</a>
{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('assets/js/mathjax-config.js') }}"></script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
{% endblock %}