{% extends 'base.html.twig' %}

{% block title %}{{ research_subject.title }}{% endblock %}

{% block body %}
    <article class="research-subject">
        <h1>{{ research_subject.title }}</h1>

        <div class="research-content">
            {{ research_subject.content|raw }}
        </div>
    </article>

    <hr>

    <a href="{{ path('app_research_subject_index') }}">Retour à la liste</a>
    <a href="{{ path('app_research_subject_edit', {'id': research_subject.id}) }}">Modifier</a>

    {{ include('research_subject/_delete_form.html.twig') }}
{% endblock %}